/node_modules
/.next
/out
/build
.env
.env*.local
*.log
npm-debug.log*
.DS_Store
/coverage
next-env.d.ts.bak
/prisma/*.db
img_1.png
img_2.png
img_3.png
Racabel_KPI_Marketing_Juli_2026.xlsx
Racabel_Slip_Gaji.xlsx
